@import "tailwindcss";

/* Scrollbar styling for Chrome/Edge/Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #ffffff00; /* Tailwind's gray-800 */
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Tailwind's blue-500 */
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
}

/* Firefox support */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #ffffff00;
}
